ul{
    padding: 0;
}

.contener{
    background-color: #f1f1f1;
    margin: 25px;

}
.TitleContener{
   background-color: #ff6060;
   border-radius: 10px;

   
}

.descriptTitle{
    margin:0;
    display: flex;
    justify-content: space-between;
    color: #f1f1f1;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:10px;

}
.flesh{
    width: 20px;
}


  @keyframes expand {
    from { max-height: 0; }
    to { max-height: 500px; }
  }
  .descript{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff6060;
    animation: expand 1s ease-in-out;
    overflow: hidden;
    list-style-type: none;
    background-color: #f1f1f1;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.WrapAbout{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
     
}
.ContenerAbout{
    background-color: #f1f1f1;
    border-radius: 10px 10px 0px 0px;
}
.height400 {
    height: 160px;
  }
  