
.nom{
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 139px;
    padding-right: 18px;

}
.tiltelProprio{
   color: #ff6060;
   margin: 0%;
   padding-left: 25px;
}
.picturesProprio{
    width: 64px;
    border-radius: 50%;
}
.etoile{
    display: flex;
    flex-wrap: nowrap;
   
    
}
.starts{
    padding-left: 28%;
    margin: 0%;
    flex-wrap: nowrap;
    width: 100px;
}
.contenentimg{
    margin: 0%;
}