
.nom{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 158px;
   

}
.tiltelProprio{
   color: #ff6060;
   margin: 0%;
   padding-left: 25px;
   font-family: Montserrat;
   font-size: 18px;
   font-weight: 500;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: right;

}
.picturesProprio{
    width: 64px;
    border-radius: 50%;
}
.etoile{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
   
    
}
.starts{
 
    margin: 0%;
    flex-wrap: nowrap;
    padding-top: 9px;
}
.contenentimg{
    margin: 0%;
}

@media screen and (max-width:767px){
.query{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.starts{
    padding-left: 0%;
    margin: 0%;
}


}

@media screen and (max-width:385px){

   .starts{
    width: auto;
    padding-left: 0%;
  }

  .query{
    justify-content: space-between;
}



}
