.nom{
    display: flex;
    flex-direction: row;
    background-color: blue;
    align-items: center;

}
.tiltelProprio{
   color: #ff6060;
}
.picturesProprio{
    width: 90px;
    border-radius: 50%;
}