.WrapManege{
  width: 80%;
  margin-left: 0%;
  padding-top: 12px;
}
.photoCarousel {
  height: 415px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
 
}
.photoCarousel:focus-visible{
  outline: none;
}
.photoCarousel:hover{
  cursor: pointer;
}
.buttonLeft{
    top: 275px;
    position: absolute;
    left: 11.3%;
    z-index: 5;
}
.buttonLeft:hover{
  cursor: pointer;
}
.buttonRight:hover{
  cursor: pointer;
}
.buttonRight{
   top: 275px;
   position: absolute;
   right: 11.3%;
   z-index: 5;
}
.counter{
  color: white;
  position: absolute;
  top: 470px;
  right: 50%;
  
}

@media screen and (max-width:768px){

  .WrapManege{
    width: 95%;
    margin-left: 0%;
    padding-top: 25px;
  }
  .photoCarousel {
    height: 370px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  .buttonLeft{
    top: 283px;
    position: absolute;
    left: 5%;
    width: 15px;
}
  .buttonRight{
   top: 283px;
   position: absolute;
   right: 5%;
   width: 15px;
 
}

.counter{
  top: 440px;
  right:47%;
}


}


@media screen and (max-width:428px){

  .WrapManege{
    width: 95%;
    margin-left: 0%;
    padding-top: 25px;
  }
  .photoCarousel {
    height: 255px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  .buttonLeft{
    top: 224px;
    position: absolute;
    left: 5%;
    width: 15px;
}
  .buttonRight{
   top: 224px;
   position: absolute;
   right: 5%;
   width: 15px;
 
}

.counter{
  top: 327px;
  right:47%;
}


}

