.WrapManege{
  width: 80%;
  margin-left: 0%;
  padding-top: 25px;
}
.photoCarousel {
  height: 415px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
 
}
.photoCarousel:focus-visible{
  outline: none;
}
.buttonLeft{
    top: 295px;
    position: absolute;
    left: 10%;
    z-index: 5;
}

.buttonRight{
   top: 295px;
   position: absolute;
   right: 10%;
   z-index: 5;
}
.counter{
  color: white;
  position: absolute;
  top: 504px;
  color: white;
  right: 50%;
}

@media screen and (max-width:912px){

  .WrapManege{
    width: 95%;
    margin-left: 0%;
    padding-top: 25px;
  }
  .photoCarousel {
    height: 370px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  .buttonLeft{
    top: 283px;
    position: absolute;
    left: 3%;
    width: 15px;
}
  .buttonRight{
   top: 283px;
   position: absolute;
   right: 3%;
   width: 15px;
 
}

.counter{
  top: 455px;
  right:47%;
}


}


@media screen and (max-width:428px){

  .WrapManege{
    width: 95%;
    margin-left: 0%;
    padding-top: 25px;
  }
  .photoCarousel {
    height: 255px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  .buttonLeft{
    top: 224px;
    position: absolute;
    left: 3%;
    width: 15px;
}
  .buttonRight{
   top: 224px;
   position: absolute;
   right: 3%;
   width: 15px;
 
}

.counter{
  top: 340px;
  right:47%;
}


}

