
.Wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
}

.conteneurWrap{
    width: 80%;
    display: flex;
}

.cartier{
    display: flex;
    list-style: none;
}
.lieu{
    color: #ff6060;
}
.listCartier{
    padding-right: 20px;
    background-color: #ff6060;
    border-radius: 25px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}


.title{
    color: #ff6060;
    
}

.listeEquipe{
    color: #ff6060;
    list-style-type: none;
    flex-direction: row;
    background-color: #f6f6f6;
   
}

.wrapGauche{
 
    width: 50%;
}
.wrapDroite{
  
    width: 50%;
}