
.Wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;

}

.conteneurWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    flex-direction: column;
  }

.cartier{
    display: flex;
    list-style: none;
    margin-bottom: 22px;
    
}
.lieu{
    color: #ff6060;
    margin: 0;
}
.listCartier{
    padding-right: 20px;
    background-color: #ff6060;
    color: #f1f1f1;
    border-radius: 25px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    width: 145px;
    justify-content: center;
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}


.title{
    color: #ff6060;
   margin-top: 27px;
   margin-bottom: 4px;
   font-family: Montserrat;
   font-size: 36px;
   font-weight: 500; 
   line-height: 51px;
   letter-spacing: 0em;
   text-align: left;

    
}
.liste{
    margin: 0%;
    list-style-type: none;
}

.apart{
    display: flex;
    flex-direction: column;
}

.contenerProprio{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.propri{
    
    display: flex;
    flex-direction: column;
}


.contenerEquipeDescript{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.tailleDes{
  width: 95%;
}
.tailleEqui{
    width: 95%;
    
   
}
.trop{
    display: flex;
    flex-direction: row;
    width: 105%;
}
