
.Wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;

}

.conteneurWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    flex-direction: column;
  }

.cartier{
    display: flex;
    list-style: none;
    margin-bottom: 22px;
    flex-wrap: wrap;
    
}
.lieu{
    color: #ff6060;
    margin: 0;
}
.listCartier{
    padding-right: 20px;
    margin-bottom: 10px;
    background-color: #ff6060;
    color: #f1f1f1;
    border-radius: 25px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    width: 145px;
    justify-content: center;
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}


.title{
    color: #ff6060;
   margin-top: 27px;
   margin-bottom: 4px;
   font-family: Montserrat;
   font-size: 36px;
   font-weight: 500; 
   line-height: 51px;
   letter-spacing: 0em;
   text-align: left;

    
}
.liste{
    margin: 0%;
    list-style-type: none;
}

.apart{
    display: flex;
    flex-direction: column;
}

.contenerProprio{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.propri{
    
    display: flex;
    flex-direction: column;
}


.contenerEquipeDescript{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.tailleDes{
  width: 100%;
  margin-right: 20px;

}
.tailleEqui{
    width: 100%;
    margin-left: 20px;
    
   
}
.tentative{
    display: flex;
    flex-direction: row;
 
}
@media screen and (max-width:768px){


     
.conteneurWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    flex-direction: column;
  }

    .title{
        color: #ff6060;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }
   
    .lieu{
        color: #ff6060;
        margin: 0;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    
    }

    .cartier{
        flex-wrap: wrap;
        
    }
    li{
        margin-bottom: 5px;
    }
    .listCartier{
        width:115px;
        border-radius: 5px;
        font-size: 14px;
        padding-left: 2px;
        padding-right: 2px;

    
    }
    .contenerProprio{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .contenerEquipeDescript{
        flex-direction: column;
        width: 100%;

    
    }
     
    .tailleDes{
        width: 100%;
        margin-right: 20px;
      
      }
      .tailleEqui{
          width: 100%;
          margin-left: 0px;
          
         
      }
.propri{
    
    display: flex;
    flex-direction: column;
    width: 100%;
}
}

