.wrap{
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1500px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    gap: 50px;
    background-color:#F6F6F6;
    margin-left: 10%;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contenerCard{
   border: 1px;
   position: relative;
}

.imgCover{
   display: flex;
   height: 340px;
   width: 340px;
   left: 0px;
   top: 0px;
   border-radius: 10px;
   object-fit: cover;
   mix-blend-mode: darken;
   filter: brightness(85%);
   margin-bottom: 30px;
}

.imgCover:hover{
   box-shadow: 1px 1px 12px #ff6060;
   transition: 0.5s;
}



.titleCover{
     color: white;
     font-size: 18px;
     position: absolute;
     bottom: 0;
     left: 20px;
     z-index: 1; 
}

/*  mediaquery tablette  */
@media screen and (max-width:768px){
   .wrap{
      background-color: #F6F6F6;
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-left: 5%;  
      gap: 0px;
   
   }
   .imgCover{
      width:90%;
      height: 270px;
      margin-bottom: 40px;
      margin-left: 5%;

   }
   .titleCover{
     color: white;
     font-size: 18px;
     position: absolute;
     bottom: 0;
     left: 20px;
     z-index: 1; 
}
.titleCover{
   left: 47px;
   
}
}
@media screen and (min-width: 769px) and (max-width: 940px) {

   .imgCover{
     width: 274px;
     height:274px;
   }
   
}

/*  mediaquery smarte phone  */
@media screen and (max-width:425px){
   .wrap{
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-left: 5%;  
      gap: 0px;
   }
   .imgCover{
      width:100%;
      height: 270px;
      margin-bottom: 12px;
      margin-left: 0;
   
   }

   .titleCover{
      left: 8px;  
   
 }

}




