.liste{
    list-style-type: none;
}
.nav{
    display: flex;
    text-decoration: none;
    
}
.wrap{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
}
.home{
    padding-right: 25px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    color: #ff6060;
}
.apropo{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    color: #ff6060;
}


.logo{
    width: 150px;
   
}
@media screen and (max-width:767px){
   .home{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;

   }
   .apropo{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;

   }
   .logo{
    width:135px;
   }
 }
 @media screen and (max-width:360px){
   
   .logo{
    width: 101px;
   }
   .home{
    padding-right:12px;
   }

 }