.ImgBanner{

position: absolute;
width: 80%;
height: 200px;
border-radius: 25px;
object-fit: cover;
z-index: 5;

   
}
.title{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 8;
    position:absolute;
}