.ImgBanner{

height: 223px;
border-radius: 25px;
object-fit: cover;
z-index: 5;
width: 80%;
mix-blend-mode: darken;
filter: brightness(74%);

}
.title{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 8;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    color: #FFFFFF;
    width: 70%;
    justify-content: space-around;

}
.contenerText{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrap{
    margin-top: 2%;
    
}

.break{
    display: none;
}

@media screen and (max-width:912px){
     
    .break {
        display: block;
    }

    .title{
       font-family: Montserrat;
       font-size: 43px;
       font-weight: 500;
       line-height: 37px;
       letter-spacing: 0em;
        text-align: left;

    }
    
    .ImgBanner{
        width: 90%;
        height: 223px;
    }

    
 }

 @media screen and (min-width: 769px) and (max-width: 940px) {
    .ImgBanner{
        width: 80%;
        height: 223px;
    }


    
 }

 
 @media screen and (max-width:428px){

    .title{
        font-size: 30px;
     }
 }